*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    scroll-behavior: smooth;
}
.navbar {
    background: #051129;
}
.navbar-nav .nav-link.active {
    color: #0ef !important;
}
.container .navbar-brand{
    color: white;
}
.container .navbar-brand:hover{
    color: white;
}
.nav-item .nav-link:hover{
    color: #0ef;
}
.nav-item .nav-link {
    opacity: 0;
    animation: slideTop .5s ease forwards;
    color: white;
    transition: all .3s linear;
}
.home{
    /* width: 100%;
    height: 100vh; */
    /* background: url('../images/Purple\ Illustrated\ Mountain\ Desktop\ Wallpaper.png'); 
    background-repeat: no-repeat;
    background-size: cover; */
    background: #081b29;
    color: white;
    padding: 100px 0;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .5s;
}
.home-content h3 span{
    color: #0ef;
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px  0;
    opacity: 0;    
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.about-me img {
    width: 100%;
}
.home-content p{
    font-size: 20px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .5s;
}
.home-sci a:hover{
    background: #0ef;
    color: #081b29;
    box-shadow: 0 0 20px #0ef;
    transition: all .5s ease-in-out;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
                0 0 25px #0ef;
}
.btn-box:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
    transition: all .5s ease-in-out;
}
.navbar-brand{
    font-size: 25px;
    font-weight: 600;
    opacity: 0;    
    animation: slideRight 1s ease forwards;
    color: white;
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}
#services{
    color: aliceblue;
    font-size: 20px;
    line-height: 1.4;
    background: #081b29;
    padding: 50px 0;
}
.sub-title{
    text-align: center;
    color: #fff;
    font-size: 60px;
    padding-bottom: 70px;
}
.sub-title span{
    color: #0ef;
}
.services-box{
    padding: 40px;
    font-size: 13px;
    border-radius: 20px;
    border-right: 10px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px #012290f7,
                1px 1px 40px #0053b8f7;
}
.services-box i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-box h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-box a{
    text-decoration: none;
    color: #000000;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.read{
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    font-size: 16px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
                0 0 25px #0ef;
}
.read:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
    transition: all .5s ease-in-out;
}
.services-box:hover{
    transform: translateY(-10px);
}
.skills{
    font-size: 20px;
    line-height: 1.4;
    background: #081b29;
    padding: 50px 0;
    color: #fff;
}
.portfolio{
    font-size: 20px;
    line-height: 1.4;
    background: #081b29;
    padding: 50px 0;
    color: #fff;
}
.portfolio-box img{
    width: 100%;
    border-radius: 8px;
    transition: .5s ease-in-out;
}
.portfolio-box{
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.layer p{
    font-size: 16px;
    color: #000;
    font-weight: 700;
}
.layer h5{
    color: #000;
    font-weight: 700;
}
.layer{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    text-align: center;
    border-radius: 8px;
    opacity: 0;
    padding: 12px;
    background: linear-gradient(rgba(0, 0, 0, 0.1), #0ef);
    transition: .5s ease-in-out;
}
.portfolio-box:hover .layer{
    opacity: 1;
}
.portfolio-box:hover img{
    transform: scale(1.1);
}
.layer i{
    color: #ff004f !important;
    background-color: #fff;
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
}
.contact{
    font-size: 20px;
    line-height: 1.4;
    background: #081b29;
    padding: 50px 0;
    color: #fff;
}
.work{
    margin: 15px 0;
    color: rgb(228, 228, 228);
    font-size: 20px;
    font-weight: 600;
}
.work-para{
    color: rgb(177, 177, 177);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-list{
    list-style: none;
    margin-bottom: 3rem;
}
.contact-list li {
    margin-bottom: 10px;
}
.contact-list i{
    color: #0ef;
    font-size: 20px;
    font-weight: 600;
}
.contact-list li a:hover{
    transform: scale(1.01) translateY(-5px);
    color: #0ef;
}
.contact-icons i{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #0ef;
    border-radius: 50%;
    font-size: 20px;
    color: #0ef;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
}
.contact-icons i:hover{
    background: #0ef;
    color: #000;
    box-shadow: 0 0 20px #0ef;
}
.contact-form form input,form textarea{
    border: none;
    outline: none;
    width: 100%;
    padding: 18px;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 60px;
    background: #0ef;
    border-radius: 40px;
    font-size: 18px;
    color: #081b29;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px #0ef,
                0 0 25px #0ef;
}
.contact-form form .send:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan, 0 0 50px cyan,
    0 0 100px cyan, 0 0 200px cyan;
    transition: all .5s ease-in-out;
}
@media(min-width:320px) and (max-width:575px){
    .home-content h3{
        font-size: 28px;
    }
    .home-content h1{
        font-size: 36px;
    }
    .btn-box{
        width: 100%;
        text-align: center;
    }
    .home{
        padding: 50px 0;
    }
    .home-sci a{
        margin: 30px 0px 30px 0;
    }
    #services{
        padding-top: 0;
        padding-bottom: 50px;
    }
    .sub-title {
        font-size: 48px;
        padding-bottom:45px;
    }
    .services-box{
        padding: 26px;
        font-size: 12px;
    }
    .services-box i {
        margin-bottom:14px;
    }
    .services-box a {
        margin-top:12px;
    }
    .read{
        width: 100%;
        text-align: center;
    }
    .skills{
        padding-top: 0;
        padding-bottom: 50px;
    }
    .portfolio{
        padding-top: 0;
        padding-bottom: 50px;
    }
    .layer p {
        margin-bottom: 0;
        font-size: 12px;
    }
    .layer h5{
        font-size: 14px;
        margin-bottom: 5px;
    }
    .layer i{
        font-size: 14px;
        width: 20px;
        height: 20px;
    }
    .contact{
        padding-top: 0;
        padding-bottom: 50px;
    }
    .work{
        text-align: center;
    }
    .work-para{
        text-align: center;
        font-size: 16px;
    }
    .contact-list li{
        text-align: center;
    }
    .contact-list {
        margin-bottom: 1rem;
    }
    .contact-icons i {
        margin: 30px 0px 30px 0;
    }
    .padding-bottom{
        padding-bottom: 10px;
    }
}
@media(min-width:327px) and (max-width:348px){
    .layer p{
        font-size: 13px;
    }

}
@media(min-width:349px) and (max-width:391px){
    .layer p{
        font-size: 15px;
    }
}
@media(min-width:392px) and (max-width:405px){
    .layer h5{
        font-size: 20px;
        margin-bottom: 12px;
    }
    .layer p {
        margin-bottom: 15px;
        font-size: 14px;
    }
    .layer i {
        font-size: 16px;
        width: 32px;
        height: 32px;
    }
}
@media(min-width:406px) and (max-width:575px){
    .layer h5{
        font-size: 20px;
        margin-bottom: 14px;
    }
    .layer p {
        margin-bottom: 16px;
        font-size: 14px;
    }
    .layer i {
        font-size: 16px;
        width: 32px;
        height: 32px;
    }
}
@media(min-width:438px) and (max-width:575px){
    .layer p{
        font-size: 16px;
    }
}
@media(min-width:482px) and (max-width:575px){
    .layer p{
        margin-bottom: 22px;
    }
}
@media(min-width:491px) and (max-width:575px){
    .layer p{
        font-size: 18px;
        margin-bottom: 22px;
    }
    .layer h5{
        font-size: 24px;
    }
    .layer i{
        font-size: 26px;
        width: 40px;
        height: 40px;
    }
}
@media(min-width:575px) and (max-width:768px){
    .btn-box{
        width: 100%;
        text-align: center;
    }
    .home{
        padding-top: 50px;
        padding-bottom: 0;
    }
    #services{
        padding-top: 50px;
        padding-bottom: 0;
    }
    .skills{
        padding-top: 50px;
        padding-bottom: 0;
    }
    .portfolio{
        padding-top: 50px;
        padding-bottom: 0;
    }
    .layer h5{
        font-size: 26px;
    }
    .layer p{
        line-height: 40px;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .layer i{
        width: 40px;
        height: 40px;
        font-size: 24px;
    }
}
@media(min-width:768px) and (max-width:992px){
    .home{
        padding-top: 50px;
        padding-bottom: 0;
    }
    #services{
        padding-top: 50px;
        padding-bottom: 0;
    } 
    .skills{
        padding-top: 50px;
        padding-bottom: 0;
    }
    .layer h5{
        font-size: 20px;
        margin-bottom: 6px;
    }
    .layer p{
        line-height: 17px;
        font-size: 14px;
        margin-bottom: 12px;
    }
    .layer .setting-h5{
        font-size: 26px;
    }
    .layer .setting-p{
        line-height: 40px;
        font-size: 18px;
    }
    .layer i{
        width: 40px;
        height: 40px;
        font-size: 24px;
    }
}
@media(min-width:992px) and (max-width:1200px){
    .layer h5{
        font-size: 16px;
    }
    .layer p{
        line-height: 18px;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .layer .setting-h5{
        font-size: 16px;
    }
    .layer .setting-p{
        line-height: 18px;
        font-size: 12px;
        margin-bottom: 10px;
    }
    .layer i{
        font-size: 16px;
        width: 30px;
        height: 30px;
    }
}
@media(min-width:1400px){
    .layer p {
        line-height: 28px;
    }
}
@media(min-width:375px) and (max-width:490px){
    .layer h5{
        font-size: 18px;
    }
    .layer p{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .layer i{
        font-size: 20px;
        width: 30px;
        height: 30px;
    }
}